<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE" th:text="#{admin.title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	href="https://bndynet.github.io/bbootstrap/css/bbootstrap.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/static/css/main.css}" />
<script src="https://bndynet.github.io/bbootstrap/js/bbootstrap.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var i18n = {
        ok: /*[[#{ok}]]*/,
        cancel: /*[[#{cancel}]]*/,
        msgDeleteConfirm: /*[[#{msgDeleteConfirm}]]*/,
    };
    bbootstrap.defineLang('serverLang', i18n);
    bbootstrap.setup({
        locale: 'serverLang',
    });
	/*]]>*/
</script>
</head>

<body class="layout-admin layout-admin-sm">
	<header class="navbar navbar-dark bg-dark bd-navbar">
		<a class="navbar-brand" th:href="@{/admin}"> <img
			src="http://static.bndy.net/images/apple-icon-precomposed.png"
			width="30" height="30" class="d-inline-block align-top" alt="" th:text="#{admin.title}">
		</a>
		<ul class="navbar-nav ml-md-auto flex-row d-md-flex">
			<li class="nav-item"><a
				th:href="@{/logout}"
				class="nav-link"> <i class="fa fa-sign-out fa-2x"></i>
			</a></li>
		</ul>
	</header>
	<div class="side-left">
		<nav class="list-group list-group-flush">
			<a class="list-group-item text-center" th:text="#{menus}"></a> <a
				class="list-group-item list-group-item-action" th:href="@{/admin/user/list}"> <i
				class="fa fa-fw fa-users"></i>
				<span th:text="#{user.userManagement}"></span>
			</a>
			<a class="list-group-item list-group-item-action" th:href="@{/admin/client/list}"> <i
				class="fa fa-fw fa-plug"></i>
				<span th:text="#{client.clientManagement}"></span>
			</a>
		</nav>
	</div>
	<div class="main" layout:fragment="body"></div>
	<div class="side-right d-none"></div>
	
	<script th:src="@{/static/js/main.js}"></script>
</body>
</html>