<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE" th:text="#{admin.title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<th:block th:if="${#request.localName == 'localhost'}">
		<link rel="stylesheet" type="text/css" href="http://localhost:5500/docs/css/bbootstrap.min.css" />
		<script src="http://localhost:5500/docs/js/bbootstrap.min.js"></script>
	</th:block>

	 <th:block th:unless="${#request.localName == 'localhost'}">
		<link rel="stylesheet" type="text/css"
			href="https://bndynet.github.io/bbootstrap/css/bbootstrap.min.css">
		<script src="https://bndynet.github.io/bbootstrap/js/bbootstrap.min.js"></script>
	</th:block>

<link rel="stylesheet" type="text/css" th:href="@{/static/css/main.css}" />
<script th:inline="javascript">
    /*<![CDATA[*/
    var i18n = {
        ok: /*[[#{ok}]]*/,
        cancel: /*[[#{cancel}]]*/,
        msgDeleteConfirm: /*[[#{msgDeleteConfirm}]]*/,
    };
    bbootstrap.defineLang('serverLang', i18n);
    bbootstrap.setup({
        locale: 'serverLang',
    });
	/*]]>*/
</script>
</head>

<body class="layout-admin layout-admin-sm">
	<header class="navbar navbar-expand navbar-dark bg-dark bd-navbar">
		<a class="navbar-brand" th:href="@{/admin}" th:text="#{admin.title}"></a>
		<ul class="navbar-nav ml-md-auto flex-row d-md-flex">
			<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#"
				id="userMenus" role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> 
					<i class="fa fa-fw fa-user"></i>
					<span sec:authentication="name">Bendy</span>
					<span sec:authentication="principal.authorities" class="d-none">[ROLE_USER, ROLE_ADMIN]</span>
				</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenus">
					<a th:href="@{/logout}" class="dropdown-item">
						<i class="fa fa-fw fa-sign-out"></i>
						<span th:text="#{labelSignOut}"></span>
					</a>
				</div>
			</li>
		</ul>
	</header>
	<div class="sidebar-main">
		<nav class="list-group list-group-flush">
			<a class="list-group-item  list-group-item-action" th:href="@{/admin}">
			     <i class="fa fa-fw fa-home"></i>
			     <span th:text="#{home}"></span>
			</a> <a
				class="list-group-item list-group-item-action" th:href="@{/admin/user/list}"> <i
				class="fa fa-fw fa-users"></i>
				<span th:text="#{user.userManagement}"></span>
			</a>
			<a class="list-group-item list-group-item-action" th:href="@{/admin/client/list}"> <i
				class="fa fa-fw fa-plug"></i>
				<span th:text="#{client.clientManagement}"></span>
			</a>
		</nav>
		<footer class="p-2 text-muted">
		  <small th:utext="#{poweredBy}">
		     Powered by <a href="http://bndy.net" target="_blank">Bendy Zhang</a>
		  </small>
		</footer>
	</div>
	<div class="main" layout:fragment="body"></div>
	<div class="sidebar-assist d-none"></div>
    <footer>
        <div class="row">
            <div class="col"><span th:utext="#{copyright}"></span></div>
            <div class="col text-right"><th:block th:include="admin/_fragments::locale"></th:block></div>
        </div>
    </footer>	
	<script th:src="@{/static/js/main.js}"></script>
</body>
</html>