<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="admin/_layout">

<head>
	<title th:text="#{user.userInfo}"></title>
</head>

<body>
    <div layout:fragment="body">
		<nav aria-label="breadcrumb">
	       <ol class="breadcrumb">
				<li class="breadcrumb-item">
					 <a th:href="@{/admin}">
						 <i class="fa fa-fw fa-home"></i>
						 <span th:text="#{home}">Home</span>
					</a>
				</li>
				<li class="breadcrumb-item"><a th:href="@{/admin/user/list}" th:text="#{user.userList}"></a></li>
				<li class="breadcrumb-item active" aria-current="page" th:text="#{user.userInfo}"></li>
		    </ol>
		</nav>
        <div class="content-header with-border">
			<h1 th:text="#{user.addUser}" th:unless="${model.id}">Add User</h1>
			<h1 th:text="#{user.editUser}" th:if="${model.id}">Edit User</h1>
        </div>
        <div class="content-body">
			<form th:action="@{/admin/user/save}" method="POST" novalidate>
				<input type="hidden" name="id" th:value="${model.id}">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label th:text="#{user.username}" for="username"></label>
							<input id="username" name="username" class="form-control" required th:value="${model.username}">
							<div th:text="#{msgRequiredField}" class="invalid-feedback">Required field</div>
						</div>
						<div class="form-group">
							<label th:text="#{user.password}" for="password"></label>
							<small id="passwordHint" class="form-text text-muted" th:text="#{user.passwordHint}">Note that you can leave empty if you do not want change password.</small>
							<input id="password" name="password" type="password" class="form-control" th:attr="(required=${model.id == null ? 'true': 'false'})" aria-discribedby="passwordHint">
							<div th:text="#{msgRequiredField}" class="invalid-feedback">Required field</div>
						</div>
						<div class="form-group" th:unless="${model.id}">
							<label th:text="#{user.repassword}" for="repassword"></label>
							<small id="repasswordHint" class="form-text text-muted" th:text="#{user.repasswordHint}">Confirm your password which MUST be same with above.</small>
							<input id="repassword" name="repassword" type="password" class="form-control" aria-discribedby="repasswordHint">
							<div th:text="#{msgConfirmPasswordError}" class="invalid-feedback"></div>
						</div>
						<div class="form-group">
							<label th:text="#{user.email}" for="email"></label>
							<input id="email" name="email" type="text" class="form-control" th:value="${model.email}">
						</div>
						<div class="form-group">
							<div class="form-check checkbox checkbox-primary">
								<input class="form-check-input" id="enabled" name="enabled" type="checkbox" th:checked="${model.enabled}" value="true">
								<label class="form-check-label" for="enabled" th:text="#{user.enabled}">
								   Enabled?
							</label>
							</div>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary" th:text="#{labelSave}">Save</button>
							<a class="btn btn-light" th:href="@{/admin/user/list}" th:text="#{labelCancel}">Cancel</a>
						</div>
					</div>
				</div>
			</form>
        </div>
		<script th:inline="javascript">
		 /*<![CDATA[*/
		 function checkForm() {
		      if (/*[[${model.id == null ? '' : 'edit'}]]*/) {
		          // for edit
		          return $('#username').val();
		      } else {
		          var result = $('#username').val() && $('#password').val();
		          if (result && $('#password').val() != $('#repassword').val()) {
		              $('#repassword').prop('valid', false).addClass('is-invalid');
		              result = false;
		          }
		          return result;
		      }
		 }
		  $(function(){
		      $('form').submit(function(event){
		          if (!checkForm()) {
					  event.preventDefault();
					  event.stopPropagation();
		          }
				  $(this).addClass('was-validated');
		      });
		  });
		  /*]]>*/
		</script>
    </div>
</body>

</html>