<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="admin/_layout">

<head>
<title th:text="#{user.userList}"></title>
</head>

<body>
	<div layout:fragment="body">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/admin}"> <i class="fa fa-fw fa-home"></i>
						<span th:text="#{home}">Home</span>
				</a></li>
				<li
					class="breadcrumb-item active"
					aria-current="page"
					th:text="#{user.userList}"></li>
			</ol>
		</nav>
		<div class="content-header">
			<h1 th:text="#{user.userList}">User List</h1>
			<div class="toolbox">
				<form
					th:action="@{/admin/user/list}"
					class="form-search-slim"
					method="GET">
					<div class="input-group">
						<input
							type="text"
							name="k"
							class="form-control"
							th:value="${keywords}">
						<div class="input-group-append">
							<button
								type="submit"
								class="btn btn-outline-secondary"
								th:text="#{search}">Search</button>
						</div>
					</div>
				</form>
				<div
					class="btn-group"
					role="group">
					<a  sec:authorize="hasAuthority('USER:W')"
						th:href="@{/admin/user/new}"
						th:text="#{user.addUser}"
						class="btn btn-primary">Add user</a>
				</div>
			</div>
		</div>
		<div class="content-body">
			<table class="table table-striped">
				<thead>
					<tr>
						<th th:text="#{user.userId}">User ID</th>
						<th th:text="#{user.username}">User Name</th>
						<th th:text="#{user.email}">Email</th>
						<th th:text="#{createdAt}">Created at</th>
						<th th:text="#{updatedAt}">Updated at</th>
						<th
							th:text="#{user.enabled}"
							class="text-center">Enabled?</th>
						<th sec:authorize="hasAuthority('USER:W')"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user: ${users}">
						<td th:text="${user.id}"></td>
						<td th:text="${user.username}"></td>
						<td th:text="${user.email}"></td>
						<td
							class="d-ldt"
							th:text="${user.createdOn}"></td>
						<td
							class="d-ldt"
							th:text="${user.updatedOn}"></td>
						<td class="text-center"><th:block th:if="${user.enabled}">
								<i class="bicon bicon-checked"></i>
							</th:block></td>
						<td sec:authorize="hasAuthority('USER:W')" class="list-link text-center">
							<a
								class="text-primary"
								th:href="@{/admin/user/edit(id=${user.id})}"><i class="fa fa-edit"></i></a> 
							<a  th:if="not ${#arrays.contains(adminIds, user.id)}"
								class="text-danger action-remove"
								th:href="@{/admin/user/remove(id=${user.id})}"><i class="fa fa-trash"></i></a>
						
						</td>
					</tr>
					<tr th:if="${users.size() == 0}">
						<td colspan="7"><th:block th:insert="/admin/_fragments::noData"></th:block></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>