<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
	<classPathEntry location="${db.driver.location}" />
	<context id="DB2M" targetRuntime="MyBatis3">
		<!-- <plugin type="plugin.SelectByPagePlugin" /> -->
		<plugin type="org.mybatis.generator.plugins.RenameExampleClassPlugin">
			<property name="searchString" value="Example$" />
			<property name="replaceString" value="Criteria" />
		</plugin>
		<plugin type="org.mybatis.generator.plugins.EqualsHashCodePlugin" />
		<plugin type="org.mybatis.generator.plugins.ToStringPlugin" />
		<plugin type="org.mybatis.generator.plugins.SerializablePlugin">
			<property name="addGWTInterface" value="false" />
			<!-- false to generate versionID -->
			<property name="suppressJavaInterface" value="false" />
		</plugin>

		<commentGenerator>
			<!-- false to include date in comment -->
			<property name="suppressDate" value="false" />
			<!-- false to generate comments -->
			<property name="suppressAllComments" value="false" />
			<property name="addRemarkComments" value="false" />
		</commentGenerator>

		<jdbcConnection driverClass="com.mysql.jdbc.Driver"
			connectionURL="jdbc:mysql://localhost:3306/oauth" userId="root"
			password="123456">
			<property name="nullCatalogMeansCurrent" value="true" />
		</jdbcConnection>

		<javaTypeResolver>
			<property name="forceBigDecimals" value="false" />
		</javaTypeResolver>

		<javaModelGenerator targetPackage="net.bndy.sc.service.sso.model"
			targetProject="src/main/java">
			<property name="enableSubPackages" value="true" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator>

		<sqlMapGenerator targetPackage="sqlmap" targetProject="src/main/resources/">
			<property name="enableSubPackages" value="true" />
		</sqlMapGenerator>

		<!-- type: ANNOTATEDMAPPER, MIXEDMAPPER:XML, XMLMAPPER -->
		<javaClientGenerator type="ANNOTATEDMAPPER"
			targetPackage="net.bndy.sc.service.sso.dao" targetProject="src/main/java">
			<property name="enableSubPackages" value="true" />
		</javaClientGenerator>

		<table tableName="%">
			<property name="useActualColumnNames" value="true" />
		</table>

	</context>
</generatorConfiguration>
