<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="admin/_layout">

<head>
<title th:text="#{client.clientList}"></title>
</head>

<body>
	<div layout:fragment="body">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/admin}"> <i class="fa fa-fw fa-home"></i>
						<span th:text="#{home}">Home</span>
				</a></li>
				<li
					class="breadcrumb-item active"
					aria-current="page"
					th:text="#{client.clientList}"></li>
			</ol>
		</nav>
		<div class="content-header">
			<h1 th:text="#{client.clientList}">Client List</h1>
			<div class="toolbox">
				<div
					class="btn-group btn-group-sm"
					role="group">
					<a
						th:href="@{/admin/client/new}"
						th:text="#{client.addClient}"
						class="btn btn-primary">Add</a>
				</div>
			</div>
		</div>
		<div class="content-body">
			<table class="table table-striped">
				<thead>
					<tr>
						<th th:text="#{client.clientName}"></th>
						<th th:text="#{client.secret}"></th>
						<th th:text="#{client.redirectUri}"></th>
						<th th:text="#{client.resourceIds}"></th>
						<th th:text="#{client.scope}"></th>
						<th
							th:text="#{client.autoApprove}"
							class="text-center"></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="client: ${clients}">
						<td th:text="${client.clientName}"></td>
						<td><span th:text="${client.clientId}" th:attr="(title=#{client.clientId})")></span> <br /> <span
							th:text="${client.clientSecretRaw}" th:attr="(title=#{client.clientSecret})"></span></td>
						<td><th:block th:each="uri: ${#strings.arraySplit(client.redirectUri, ';')}">
								<div>
									<span th:text="${uri}"></span>
								</div>
							</th:block></td>
						<td th:text="${client.resourceIds}"></td>
						<td th:text="${client.scope}"></td>
						<td class="text-center"><th:block th:if="${client.autoapprove}">
								<i class="bicon bicon-checked"></i>
							</th:block></td>
						<td class="list-link text-center"><a
							class="text-primary"
							th:href="@{/admin/client/edit(id=${client.clientId})}"><i class="fa fa-edit"></i></a> <a
							class="text-danger action-remove"
							th:href="@{/admin/client/remove(id=${client.clientId})}"><i class="fa fa-trash"></i></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>