.layout-admin {
    & > .main {
        .content-header {
            margin-top: 30px;
            margin-left: 35px;
            margin-right: 35px;
            .toolbox {
                .form-search-slim {
                    width: 260px;
                }
            }
        }
        .content-body {
            margin-left: 35px;
            margin-right: 35px;
        }
    }

    & > .sidebar-main {
        background-color: #eeeeee;

        footer {
            height: 38px;
            background-color: #ffffff;
        }
    }

    & > footer {
        font-size: 80%;
    }
}

.page-error {
    .main {
        width: 600px;
    }
}

.page-login {
    .main {
        width: 420px;
        .form-control {
            font-size: 1.25rem;
        }
    }
}

.page-wel {
    .main {
        width: 600px;
    }
}

.page-oauth-approval {
    .main {
        width: 360px;

        h2 {
            line-height: 1.5rem;
            small {
                font-size: 50%;
            }
        }
    }
}