<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="_layout_admin">

<head>
	<title th:text="#{user.userInfo}"></title>
</head>

<body>
    <div layout:fragment="body">
		<nav aria-label="breadcrumb">
	       <ol class="breadcrumb">
				<li class="breadcrumb-item">
					 <a th:href="@{/home}">
						 <i class="fa fa-fw fa-home"></i>
						 <span th:text="#{home}">Home</span>
					</a>
				</li>
				<li class="breadcrumb-item"><a th:href="@{/user/list}" th:text="#{user.userList}"></a></li>
				<li class="breadcrumb-item active" aria-current="page" th:text="#{user.userInfo}"></li>
		    </ol>
		</nav>
        <div class="content-header with-border">
			<h1 th:text="#{user.addUser}" th:unless="${user.id}">Add User</h1>
			<h1 th:text="#{user.editUser}" th:if="${user.id}">Edit User</h1>
        </div>
        <div class="content-body">
			<form th:action="@{/user/save}" method="POST">
				<input type="hidden" name="id" th:value="${user.id}">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label th:text="#{user.username}" for="username"></label>
							<input id="username" name="username" class="form-control" th:value="${user.username}">
						</div>
						<div class="form-group">
							<label th:text="#{user.password}" for="password"></label>
							<input id="password" name="password" type="password" class="form-control" aria-discribedby="passwordHint">
							<small id="passwordHint" class="form-text text-muted" th:text="#{user.passwordHint}">Note that you can leave empty if you do not want change password.</small>
						</div>
						<div class="form-group" th:unless="${user.id}">
							<label th:text="#{user.repassword}" for="repassword"></label>
							<input id="repassword" name="repassword" type="password" class="form-control" aria-discribedby="repasswordHint">
							<small id="repasswordHint" class="form-text text-muted" th:text="#{user.repasswordHint}">Confirm your password which MUST be same with above.</small>
						</div>
						<div class="form-group">
							<label th:text="#{user.email}" for="email"></label>
							<input id="email" name="email" type="text" class="form-control" th:value="${user.email}">
						</div>
						<div class="form-group">
							<div class="form-check checkbox checkbox-primary">
								<input class="form-check-input" id="enabled" name="enabled" type="checkbox" th:checked="${user.enabled}" value="true">
								<label class="form-check-label" for="enabled" th:text="#{user.enabled}">
								   Enabled?
							</label>
							</div>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary" th:text="#{labelSave}">Save</button>
							<a class="btn btn-light" th:href="@{/user/list}" th:text="#{labelCancel}">Cancel</a>
						</div>
					</div>
				</div>
			</form>
        </div>
    </div>
</body>

</html>