<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="_layout">

<head>
    <title>Login</title>
</head>

<body class="layout-one page-login">
    <div class="main" layout:fragment="body">
        <div class="card">
            <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
            <div class="card-body">
                 <div th:if="${param.error}" th:text="#{msgInvalidUsernameOrPassword}" class="alert alert-danger" role="alert">    
                    Invalid username and password.
                </div>
                <div th:if="${param.logout}" th:text="#{msgLogoutSuccess}" class="alert alert-success" role="alert"> 
                    You have been logged out.
                </div>
                <form th:action="@{login}" method="POST">
                    <div class="form-group">
                        <label for="username" th:utext="#{labelUsername}">Username</label>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                    <div class="form-group">
                        <label for="password" th:utext="#{labelPassword}"></label>
                        <a href="#" class="pull-right" th:utext="#{labelForgotPassword}" tabindex="-1">Password</a>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="form-group form-check checkbox checkbox-warning">
                        <input class="form-check-input" id="rememberMe" name="rememberMe" type="checkbox" tabindex="-1">
                        <label class="form-check-label" for="rememberMe" th:utext="#{labelRememberMe}">Remember me</label>
                    </div>
                    <button type="submit" class="btn btn-block btn-primary" th:utext="#{labelSignIn}">Sign in</button>
                </form>
            </div>
        </div>
        <div class="block text-center">
            <span th:utext="#{copyright}"></span>
        </div>
    </div>
</body>

</html>